<?xml version="1.0" encoding="utf-8"?>
<Config>
  <BindAddress>{{bindAddress}}</BindAddress>
  <Port>{{port}}</Port>
  <SslPort>{{sslPort}}</SslPort>
  <EnableSsl>{{enableSsl}}</EnableSsl>
  <LaunchBrowser>{{launchBrowser}}</LaunchBrowser>
  <ApiKey>{{apiKey}}</ApiKey>
  <AuthenticationMethod>{{authMethod}}</AuthenticationMethod>
  <AuthenticationRequired>{{authRequired}}</AuthenticationRequired>
  <Branch>{{branch}}</Branch>
  <LogLevel>{{logLevel}}</LogLevel>
  <UrlBase>{{urlBase}}</UrlBase>
  <InstanceName>{{instanceName}}</InstanceName>
</Config>